* {
    margin: 0px;
    padding: 0px;
}

body {

    font-family: "Quicksand", serif;
    background-color: #f9f9f9;
    color: #333;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    background-color: #f9f9f9;
    width: 80%;
    margin: 0 auto;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.logo-text {
    width: 700;
    font-size: 32px;
}

.navbar .menu {
    display: flex;
    gap: 30px;
}

.navbar .menu a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-weight: 700;
}

#home-color {
    color: #ffa500;
}

#about-color {
    color: skyblue;
}

#facility-color {
    color: #05D4DF;
}

#admission-collor {
    color: #5D58EF;
}

.navbar .contact {
    font-family: "Quicksand", serif;
    background-color: #ffa500;
    color: #fff;
    padding: 15px 50px;
    border-radius: 12px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    border-width: 0px;
}
.menu-button{
    display: none;  
    flex-direction: column;  
    width: 30px; 
    height: 20px;
    cursor: pointer;  
    
  } 
  .bar{
    width: 100%;
    height: 3px;
    background-color: black;
    margin: 5px 0px;
    
  }


/* Banner */
.banner {
    display: grid;
    grid-template-areas: "text image";
    grid-template-columns: 1fr 0fr;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: #f9f9f9;
    width: 80%;
    margin: 0 auto;
}



.banner .text h1 {
    font-size: 56px;
    font-weight: 700;
}

.banner .text h1 div {
    color: #ffa500;
}

.banner .text h1 span {
    color: rgb(21, 186, 251);
}

.banner .text p {
    font-size: 25px;
    margin: 35px 0px;
    font-weight: 400;
}

.banner .text .button {
    background-color: #000;
    color: #fff;
    padding: 15px 40px;
    text-decoration: none;
    font-size: 21px;
    font-weight: 700;
    border-radius: 12px;
}


.banner .image img {
    width: 500px;
    border-radius: 20px;
    ;
}

/* curriculum */
.curriculum-bg{
    background-image: url(../assets/bg.png);
    padding:80px 0px;    
    background-repeat: no-repeat;
    background-size: cover;
}
.curriculum {
    width: 80%;    
    margin: 0 auto;

}

.curriculum h1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.curriculum .cards {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 30px;
    padding: 80px 0px;
    
}

.curriculum .card {
    background: linear-gradient(to bottom, #e0f7ff, #ffffff);
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.curriculum .card:hover {
    transform: translateY(-10px);
}

.curriculum .card img {
    margin: 20px 0px;
}

.curriculum .card h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.curriculum .card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    padding: 20px 30px;
}

.curriculum .card a {
    text-decoration: none;
    font-weight: bold;
}

.curriculum .card:nth-child(2) {
    background: linear-gradient(to bottom, #fff7e0, #ffffff);
}

.curriculum .card:nth-child(3) {
    background: linear-gradient(to bottom, #f7e0ff, #ffffff);
}

.curriculum .pagination {
    justify-items: center;
    margin-top: 20px;
    margin-left: 47%;   
}

.curriculum .pagination button {
    background-color: #ffa500;
    border: none;
    border-radius: 50%;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
}

.curriculum .pagination button:hover {
    background-color: #e69500;
}
/* Our Stories */
.our-stories {
    
    padding: 50px 0;
    background-image: url(../assets/bg.png), linear-gradient(to bottom, #f9f9f9, #e3c496) ;
    background-size: cover;
}

.our-stories h1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 80px;
}
.gdsd{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.our-stories .stories-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 80%;
    margin: 0 auto;
}
.story-featured{
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    width: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    position: relative;
}
.story-featured img{
    width: 100%;
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover; 
}
.story-featured .content{
    padding: 20px;
    
}
.story-card {
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    position: relative;
}
.story-featured:hover {
    transform: translateY(-10px);
}
.story-card:hover {
    transform: translateY(-10px);
}

.story-card img {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover; 
}

.story-card .content {
    padding: 20px;
}
.story-featured .date {
    position: absolute;
    top: 330px;
    left: 10px;
    background: #3CD8E8;
    color: #fff;
    padding: 10px 15px;
    border-radius: 45px;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
    display: inline-block;
}
.story-card .date {
    position: absolute;
    top:180px;
    left: 10px;
    background: #ffa500;
    color: #fff;
    padding: 8px 12px;
    border-radius: 45px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    display: inline-block;
}

.story-card h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.story-featured h3 {
    font-size: 25px;
    font-weight: 700;
    margin: 20px 0px
}

.story-featured p {
    font-size: 16px;
    color: #666;
    font-weight: 500;
}
.btn{
    width: 80%;
    margin: 40px auto;
    text-align: center;
}
.btn button{
    background-color: #000;
    color: #fff;
    padding: 15px 40px;
    text-decoration: none;
    font-size: 21px;
    font-weight: 700;
    border-radius: 12px;
}

/* Footer */
footer {
    background-color: #01ACFD;
    padding: 60px 0;
    color: #fff;
    text-align: center;
    font-family: "Quicksand", serif;
}

footer .container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
}

footer .logo-section {
    flex: 1;
    text-align: left;
    max-width: 700px;
}

footer .logo-section img {
   
    margin-bottom: 20px;
}

footer .logo-section h3 {
    font-size: 30px;
    font-weight: 700;
}
footer .logo-section .logo{
    display: flex;
}
footer .logo-section p {
    font-size: 20px;
    font-weight: 500;
    margin-right: 50px;
}

footer .links-section {
    flex: 1;
    text-align: left;
    padding: 0px 100px;
}

footer .links-section h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

footer .links-section a {
    display: block;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    transition: color 0.3s;
}

footer .links-section a:hover {
    color: #ffa500;
}

footer .social-section {
    flex: 1;
    text-align: left;
}

footer .social-section h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

footer .social-section .icons {
    display: flex;
    gap: 15px;
}

footer .social-section .icons img {
    border-radius: 5px;
}
/* extra addision mareuee */
.marquee-container {
    position: fixed;
    bottom: 0;
    width: 100%;   
    background-color: #01ACFD; 
    padding: 0px 0;
    overflow: hidden;
}

.marquee-content {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    color: #f9f9f9; 
}

/* Responsive Design */

@media (max-width: 600px) {

    .navbar h3{
        display: none;
    }
    .navbar{
        border-bottom: 1px solid #f8c15b; 
        width: 90%;
    }
    .navbar .menu{
        display: none;
    }
    .contact{
        display: none;
    }
    .menu-button{
        display: block;
    }
    
      
    .banner {
        grid-template-areas:"text""image";
        grid-template-columns: 1fr;
        text-align: center;
    }
    .text{
        order: 2;
    }
    .banner{
        margin: 0px 0px;
        padding: 10px 10px;
    }
    .banner .text h1 {
        font-size: 46px;
        font-weight: 700;
    }

    .curriculum h1 {
        font-size: 40px;
        font-weight: 700;
        text-align: center;
    }
    .curriculum .cards {
        grid-template-columns: 1fr;
    }
    .pagination{
        display: none;
    }

    .our-stories .stories-grid {
        grid-template-columns: 1fr;
    }
    .story-featured{
        display: none;
    }
    .our-stories .stories-grid {
        display: grid;
        gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    }

    .story-card img {
        width: 100%;
        height: 100px;
        -o-object-fit: cover;
           object-fit: cover; 
    }
    .story-card h3 {
        font-size: 10px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .story-card .date {
        position: absolute;
        top:90px;
        left: 10px;
        background: #ffa500;
        color: #fff;
        padding: 4px 8px;
        border-radius: 45px;
        font-size: 10px;
        font-weight: 500;
        margin-bottom: 10px;
        display: inline-block;
    }
    footer .container {
        flex-direction: column;
        align-items: left;
    }
    footer .links-section{
        padding: 0px 0px;
    }
    footer .logo-section,
    footer .links-section,
    footer .social-section {
        max-width: 100%;
        text-align: left;
        margin-bottom: 20px;
    }
    marquee {
        font-size: calc(0.8rem + 2vw);
    }
    
}
